:root {
    --theme-nkch-css-page-background-color: #FFFFFF;
    --theme-nkch-css-page-background-color--rgb: 255, 255, 255;
    
    --theme-nkch-css-page-background-color--secondary: #f8f9fa;
    --theme-nkch-css-page-background-color--secondary--rgb: 248, 249, 250;
    
    --theme-nkch-css-border-color: lightgray;
    
    --theme-nkch-css-link-color: #3366CC;
    --theme-nkch-css-link-color--rgb: 51, 102, 204;
    --theme-nkch-css-link-color--hover: #2A4B8D;
    --theme-nkch-css-link-color--hover--rgb: 42, 75, 141;
    
    --theme-nkch-css-link-label-color: #FFFFFF;
    
    --theme-nkch-css-accent-label-color: #FFFFFF;
    
    --theme-nkch-css-text-color: #202122;
    --theme-nkch-css-text-color--hover: #54595d;
    
    --theme-nkch-css-alert-color: #DD3333;
    --theme-nkch-css-alert-color--hover: #b32424;
    
    --theme-nkch-css-success-color: #00af89;
    --theme-nkch-css-success-color--hover: #14866d;
}

.nkch-css {
    backdrop-filter: blur(10px);
    background-color: rgba(var(
        --theme-page-background-color--rgb,
        var(--theme-nkch-css-page-background-color--rgb)
    ), .7);
    border-color: var(
        --theme-border-color,
        var(--theme-nkch-css-border-color)
    );
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    bottom: 50px;
    font-family: Rubik, Helvetica, sans-serif;
    height: auto;
    right: 20px;
    transition: opacity .3s;
    user-select: none;
    width: auto;
    z-index: 99999;
}

.nkch-css--is-dragging {
    opacity: .8;
}

.nkch-css--is-closed {
    visibility: hidden;
}

.nkch-css__notice {
    background-color: #FF3F3F;
    border-radius: 3px;
}

.nkch-css__container {
    height: 100%;
    padding: 10px;
}

.nkch-css__header {
    cursor: default;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nkch-css__header-left {
    align-items: center;
    display: flex;
    min-width: 0;
}

.nkch-css__header-title {
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-text-color)
    );
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nkch-css__header-right {
    display: flex;
}

.nkch-css__header-button-group {
    align-items: stretch;
    display: inline-flex;
    justify-content: flex-start;
}

.nkch-css__header-button {
    align-items: center;
    background-color: transparent;
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-text-color)
    );
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-text-color)
    );
    display: inline-flex;
    min-height: 18px;
    padding: 5px 6px;
    transition: border-color .3s, color .3s;
}

.nkch-css__header-button:hover {
    border-color: var(
        --theme-page-text-color--hover,
        var(--theme-nkch-css-text-color--hover)
    );
    color: var(
        --theme-page-text-color--hover,
        var(--theme-nkch-css-text-color--hover)
    );;
}

.nkch-css__header-button-group>.nkch-css__header-button:first-child {
    border-radius: 3px 0 0 3px;
}

.nkch-css__header-button-group>.nkch-css__header-button:not(:last-child) {
    margin-right: -1px;
}

.nkch-css__header-button-group>.nkch-css__header-button:last-child {
    border-radius: 0 3px 3px 0;
}

.nkch-css__header-button--toggle.is-enabled {
    color: var(
        --theme-success-color,
        var(--theme-nkch-css-success-color)
    );
}

.nkch-css__header-button--toggle.is-disabled {
    color: var(
        --theme-alert-color,
        var(--theme-nkch-css-alert-color)
    );
}

.nkch-css__header-button--close {
    border-color: var(
        --theme-alert-color,
        var(--theme-nkch-css-alert-color)
    );
    color: var(
        --theme-alert-color,
        var(--theme-nkch-css-alert-color)
    );
}

.nkch-css__header-button--close:hover {
    border-color: var(
        --theme-alert-color--hover,
        var(--theme-nkch-css-alert-color--hover)
    );
    color: var(
        --theme-alert-color--hover,
        var(--theme-nkch-css-alert-color--hover)
    );
}

.nkch-css__header-icon {
    fill: currentColor;
    height: 18px;
    min-width: 18px;
    width: 18px;
    pointer-events: none;
}

.nkch-css__actions-header {
    display: flex;
    height: 38px;
    margin-top: 4px;
}

.nkch-css__tabs {
    background-color: var(
        --theme-page-background-color--secondary,
        var(--theme-nkch-css-page-background-color--secondary)
    );
    border: 1px solid var(
        --theme-border-color,
        var(--theme-nkch-css-border-color)
    );
    border-radius: 20px;
    display: flex;
    isolation: isolate;
    overflow: hidden;
    position: relative;
    width: auto;
}

.nkch-css__tabs::before {
    background-color: var(
        --theme-link-color,
        var(--theme-nkch-css-link-color)
    );
    border-radius: 15px;
    content: "";
    height: 30px;
    margin: 3px;
    position: absolute;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 58px;
    z-index: -1;
}

.nkch-css__tab {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    width: 64px;
}

.nkch-css__tab--css:not(.nkch-css__tab--is-selected):hover,
.nkch-css__tab--less:not(.nkch-css__tab--is-selected):hover {
    color: var(
        --theme-link-color,
        var(--theme-nkch-css-link-color)
    );
    cursor: pointer;
}

.nkch-css__tab--is-selected {
    color: var(
        --theme-link-label-color,
        var(--theme-nkch-css-link-label-color)
    );
}

.nkch-css__tabs:has(.nkch-css__tab--css.nkch-css__tab--is-selected)::before {
    transform: translateX(0);
}

.nkch-css__tabs:has(.nkch-css__tab--less.nkch-css__tab--is-selected)::before {
    transform: translateX(calc(100% + 6px));
}

.nkch-css__actions {
    align-items: flex-end;
    display: flex;
    flex: 1;
    gap: 5px;
    justify-content: flex-end;
}

.nkch-css__action {
    background-color: rgba(var(
        --theme-link-color--rgb,
        var(--theme-nkch-css-link-color--rgb)
    ), 0.1);
    border: none;
    border-radius: 3px;
    color: var(
        --theme-link-color,
        var(--theme-nkch-css-link-color)
    );
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    padding: 5px 9px;
    transition: background-color 0.3s, color 0.3s;
}

.nkch-css__action:hover:not(.nkch-css__action--is-disabled) {
    background-color: rgba(var(
        --theme-link-color--rgb,
        var(--theme-nkch-css-link-color--rgb)
    ), 0.3);
    color: var(
        --theme-link-color--hover,
        var(--theme-nkch-css-link-color--hover)
    );
}

.nkch-css__action:active:not(.nkch-css__action--is-disabled) {
    background-color: rgba(var(
        --theme-link-color--rgb,
        var(--theme-nkch-css-link-color--rgb)
    ), 0.2);
    color: var(
        --theme-link-color--hover,
        var(--theme-nkch-css-link-color--hover)
    );
}

.nkch-css__action--is-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.nkch-css__actions-header:not(:has(.nkch-css__tab--less.nkch-css__tab--is-selected)) .nkch-css__action--compile-less {
    display: none;
}

.nkch-css__content {
    height: 100%;
    position: relative;
}

.nkch-css__split-view {
    display: flex;
    flex-direction: column;
    min-height: 280px;
    min-width: 450px;
    position: relative;
}

.nkch-css__codearea {
    flex: 1;
    height: 0;
    margin-top: 10px;
    overflow: visible;
    position: relative;
    width: 100%;
}

.nkch-css__markers-panel {
    background-color: var(
        --theme-page-background-color,
        var(--theme-nkch-css-page-background-color)
    );
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    transition: height .2s ease-in-out;
}

.nkch-css__markers-panel--is-hidden {
    height: 0;
}

.nkch-css__markers-panel-header {
    border-block: 1px solid var(
        --theme-border-color,
        var(--theme-nkch-css-border-color)
    );
    display: flex;
    justify-content: flex-end;
    height: 34px;
}

.nkch-css__markers-panel-close-button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-page-text-color)
    );
    cursor: pointer;
    display: inline-flex;
    min-height: 18px;
    padding: 5px 6px;
    transition: background-color .3s;
}

.nkch-css__markers-panel-close-button:hover {
    background-color: var(
        --theme-page-background-color--secondary,
        var(--theme-nkch-css-page-background-color--secondary)
    );
}

.nkch-css__markers-panel-close-button-icon {
    fill: currentColor;
    height: 18px;
    min-width: 18px;
    width: 18px;
    pointer-events: none;
}

.nkch-css__markers-list {
    height: 0;
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

.nkch-css__marker-item {
    border-radius: 3px;
    font-size: 14px;
    padding: 4px;
    transition: background-color .3s;
}

.nkch-css__marker-item:hover {
    background-color: var(
        --theme-page-background-color--secondary,
        var(--theme-nkch-css-page-background-color--secondary)
    );
}

.nkch-css-marker-item {
    align-items: center;
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-page-text-color)
    );
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nkch-css-marker-item__icon {
    display: inline-block;
    font-family: codicon;
}

.nkch-css-marker-item__icon--error::before {
    color: #f14c4c;
    content: "\ea87";
}

.nkch-css-marker-item__icon--warning::before {
    color: #cca700;
    content: "\ea6c";
}

.nkch-css-marker-item__icon--info::before {
    color: #3794ff;
    content: "\ea74";
}

.nkch-css-marker-item__label {
    margin-left: 5px;
}

.nkch-css-marker-item__source {
    margin-left: 8px;
    opacity: .7;
}

.nkch-css-marker-item__code {
    opacity: .7;
}

.nkch-css-marker-item__code::before {
    content: "(";
}

.nkch-css-marker-item__code::after {
    content: ")";
}

.nkch-css-marker-item__position {
    margin-left: 8px;
    opacity: .7;
}

.nkch-css__resizer {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize
}

.nkch-css__resizer:after {
    background-color: transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    margin: -5px;
}

.nkch-css__content .oo-ui-tabSelectWidget-framed {
    background-color: transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(
        --theme-link-color,
        var(--theme-nkch-css-link-color)
    );
}

.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget {
    background-color: var(
        --theme-page-background-color--secondary,
        var(--theme-nkch-css-page-background-color--secondary)
    );
}

.nkch-css__content .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
.nkch-css__content .oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget-selected:hover{
    background-color: var(--theme-link-color, var(--theme-nkch-css-link-color));
    color: var(--theme-link-label-color, var(--theme-nkch-css-link-label-color));
}

.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget .oo-ui-labelElement-label {
    border: none;
}

.nkch-css__content .oo-ui-menuLayout-content {
    display: none;
}

.nkch-css__statusbar {
    background-color: var(
        --theme-page-background-color--secondary,
        var(--theme-nkch-css-page-background-color--secondary)
    );
    border-radius: 0 0 3px 3px;
    display: flex;
    font-size: 12px;
    height: 24px;
    justify-content: flex-end;
    overflow: hidden;
}

.nkch-css__statusbar-container {
    display: flex;
}

.nkch-css__statusbar-container--left {
    flex-grow: 1;
}

.nkch-css__statusbar-item {
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-text-color)
    );
    cursor: pointer;
    max-height: 24px;
    padding: 5px 10px;
    user-select: none;
}

.nkch-css__statusbar-item:hover {
    background-color: rgba(var(
        --theme-link-color--rgb, var(--theme-nkch-css-link-color--rgb)
    ), .1);
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-text-color)
    );
    text-decoration: none;
}

.nkch-css__statusbar-item:active {
    background-color: rgba(var(
        --theme-link-color--rgb,
        var(--theme-nkch-css-link-color--rgb)
    ), .2);
    color: var(
        --theme-page-text-color,
        var(--theme-nkch-css-text-color)
    );
    text-decoration: none;
}

.nkch-css__statusbar-item-icon {
    fill: currentColor;
    height: 12px;
    width: 12px;
}

.nkch-css__statusbar-item--markers {
    align-items: center;
    display: flex;
    gap: 4px;
}

.nkch-css__statusbar-item-icon--marker {
    font-family: codicon;
}

.nkch-css__statusbar-item-icon--marker-error::before {
    content: "\ea87";
}

.nkch-css__statusbar-item-icon--marker-warning::before {
    content: "\ea6c";
}

.nkch-css__error.is-visible {
    background-color: #FF5555;
    border-radius: 3px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-inline: auto;
    margin-top: 10px;
    max-width: 450px;
    padding: 6px 10px;
}

.nkch-css__error-title {
    font-weight: bold;
}

.nkch-css__sidebar-button {
    align-items: center;
    display: inline-flex;
}

.nkch-css__quickbar-button,
.nkch-css__sidebar-button {
    gap: 8px;
}

.nkch-css__quickbar-button-spinner,
.nkch-css__sidebar-button-spinner {
    animation: nkch-css-spinner--spin 1s infinite linear;
    border: 3px solid var(
        --theme-accent-label-color,
        var(--theme-nkch-css-link-color)
    );
    border-bottom-color: transparent;
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    line-height: 1;
    width: 12px;
}

.nkch-css__quickbar-button-spinner.is-hidden,
.nkch-css__sidebar-button-spinner.is-hidden {
    display: none;
}

.nkch-css__window-manager {
    z-index: 100000;
}

@keyframes nkch-css-spinner--spin {
    to {
        transform: rotate(360deg);
    }
}